{
    log default {
        output stdout
        format console
        level INFO
    }
}

{% if deluge.enabled %}
{{ deluge.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
{% if deluge.proxy.local %}
    @denied not remote_ip private_ranges
    abort @denied
{% endif %}

    tls internal

    encode zstd gzip

    reverse_proxy deluge:8112
}
{% endif %}

{% if homer.enabled %}
{{ homer.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
{% if homer.proxy.local %}
    @denied not remote_ip private_ranges
    abort @denied
{% endif %}

    tls internal

    encode zstd gzip

    reverse_proxy homer:80
}
{% endif %}

{% if jellyfin.enabled %}
{{ jellyfin.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
{% if jellyfin.proxy.local %}
    @denied not remote_ip private_ranges
    abort @denied
{% endif %}

    tls internal

    encode zstd gzip

    reverse_proxy jellyfin:80
}
{% endif %}

{% if pihole.enabled %}
{{ pihole.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
{% if pihole.proxy.local %}
    @denied not remote_ip private_ranges
    abort @denied
{% endif %}
    tls internal

    encode zstd gzip

    reverse_proxy pihole:80
}
{% endif %}

{% if vaultwarden.enabled %}
{{ vaultwarden.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
{% if vaultwarden.proxy.local %}
    @denied not remote_ip private_ranges
    abort @denied
{% endif %}
    tls internal

    encode zstd gzip

    reverse_proxy vaultwarden:80 {
        header_up X-Real-IP {remote_host}
    }
}
{% endif %}