{
    log default {
        output stdout
        format console
        level INFO
    }
}

{% if pihole.enabled %}
{{ pihole.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
    tls internal

    encode zstd gzip

    reverse_proxy pihole:80
}
{% endif %}

{% if vaultwarden.enabled %}
{{ vaultwarden.proxy.hostname }}.{{ reverse_proxy.domain.name }} {
    tls internal

    encode zstd gzip

    reverse_proxy vaultwarden:80 {
        header_up X-Real-IP {remote_host}
    }
}
{% endif %}