services:
    samba:
        image: ghcr.io/servercontainers/samba:latest
        container_name: samba
        restart: unless-stopped
        environment:
{% for user in samba.users %}
            ACCOUNT_{{ user.username }}: {{ user.password }}
            UID_{{ user.username }}: {{ user.uid }}
            GID_{{ user.username }}: {{ user.gid }}
{% endfor %}
{% for config in samba.config %}
            SAMBA_VOLUME_CONFIG_{{ config.name }}: |
                {{ config.config | indent( width=16 ) }}
{% endfor %}
        volumes:
{% for mount in samba.mount %}
            - {{ mount.src }}:{{ mount.dst }}
{% endfor %}
        ports:
            - "445:445"
        cap_add:
            - CAP_NET_ADMIN