services:
    vaultwarden:
        image: vaultwarden/server
        container_name: vaultwarden
        restart: unless-stopped
        environment:
            DOMAIN: "https://{{ vaultwarden.proxy.hostname }}.{{ reverse_proxy.domain.name }}"
            SIGNUP_ALLOWED: true
        volumes:
            - ./vw-data:/data
        networks:
            - reverse-proxy

networks:
    reverse-proxy:
        external: true