services:
    jellyfin:
        image: jellyfin/jellyfin
        container_name: jellyfin
        restart: unless-stopped
        environment:
            TZ: "{{ timezone }}"
            PUID: "{{ jellyfin.uid }}"
            PGID: "{{ jellyfin.gid }}"
        volumes:
            - ./config:/config
            - "{{ jellyfin.movies.directory }}:/movies:{{ jellyfin.movies.permissions }}"
            - "{{ jellyfin.music.directory }}:/music:{{ jellyfin.music.permissions }}"
            - "{{ jellyfin.photos.directory }}:/photos:{{ jellyfin.photos.permissions }}"
            - "{{ jellyfin.tv.directory }}:/tv:{{ jellyfin.tv.permissions }}"
            - "{{ jellyfin.books.directory }}:/books:{{ jellyfin.books.permissions }}"
            - "{{ jellyfin.audiobooks.directory }}:/audiobooks:{{ jellyfin.audiobooks.permissions }}"
        networks:
            - reverse-proxy

networks:
    reverse-proxy:
        external: true